body{
    background: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#container{
    background-color: rgba(255,255,255,0.3);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
}

h2,label,p{
    color: black;
    margin: 8px 0;
}

input{
    width: calc(100%-16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button{
    background-color: #125571;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
}
button:hover{
    background-color: #257ba0;
}

#temperatura-div{
    font-size: 60px;
    margin-top: -30px;
}

#pogoda-info{
    font-size: 20px;
}

#ikona-pogoda{
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#godzina{
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}
.godzina-element{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: rgb(0, 0, 0);
}

.godzina-element img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#godzina-naglowek{
    color: black;
    margin-top: 10px;
}